.mdl-grid {
  max-width: 960px;
}

.header {
  display: block;
  width: 100%;
  height: 80px;
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  padding-top:8px;
  padding-left: 20px;
}

.google-logo {
  width: 377px;
  height: 48px;
}

h3, h4, h5 {
  margin-top: 10;
}

.beaglebone-big {
  width: 280px;
}

.beagle-bone-sensor-selection {
  display: block;
  width:100%;
  margin-bottom: 40px;
}

.beagle-image {
  position: relative;
  display: inline-block;;
}

.sensor-selection {
  position: relative;
  top:40px;
  display: flex;
}

.hero {
  background-color: #2196F3;
  color: white;
}

.step-inactive {
  background-color: #eee;
  color: #aaa;
}

.step-active {
  margin-bottom: 40px;
}

.step-done {
  background-color: #eee;
  color: #4CAF50;
}

.gcp-demo {
  margin-bottom: 25px;
  width: 500px;
}

.raw-data {
  width: 100%;
  box-sizing: border-box;
  height: 250px;
  background-color: #eee;
  margin-top:8px;
  padding: 8px;
  font-family: courier;
  border: 1px solid #ddd;
  overflow:scroll;
}

.graph {
  width: 100%;
  height: 250px;
  background-color: yellow;
  box-sizing: border-box;
  margin-top:8px;
}

.mdl-tabs {
  margin-bottom: 24px;
}

.sensor {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  width: 33.3%;
}

.sensor-selection:hover .sensor,
.sensor-selection.hasSelection .sensor {
  opacity: 0.4;
}

.sensor-selection:hover .sensor:hover,
.sensor-selection.hasSelection .sensor.selected {
  opacity: 1;
}

.sensor-selection:hover .sensor:hover,
.sensor-selection.hasSelection .sensor.selected {
  background-color: #eee;
  cursor: hand;
}

.sensor .sensor-part1 {
  height: 140px;
  font-weight: bold;
}

.sensor .sensor-part1 img {
  height: 100px;
}

.sensor .sensor-description {
  height: 125px;
}

.sensor button {
  width: 120px;
}

.diagram {
  position: relative;
}

.diagram img.beaglebone {
  position: static;
}

.mdl-button-small {
  font-size: 14px;
  width: 50px;
}

label[for=toggle-sensor-data] {
  margin-right: 10px;
  width: auto;
}

#sensor-log {
  height: 120px;
  font-family: 'courier new';
  width: 500px;
}

.hint  {
  background-image: url('/img/icons/bulb.png');
  background-size: 30px;
  background-repeat: no-repeat;
  position: relative;
  left: -35px;
  overflow: visible;
  padding: 10px;
  padding-left: 35px;
}

.mdl-dialog {
  width: 300px;
}

.mdl-dialog .mdl-dialog__actions {
  display: inline;
}

.mdl-dialog .mdl-spinner {
  display: none;
}

.mdl-dialog .mdl-spinner.show {
  display: block;
  margin: -30px auto 0;
}
